{
  "presets": ["@babel/preset-env"],
  "plugins": [
    [
      "import",
      {
        "libraryName": "lodash",
        "libraryDirectory": "",
        "camel2DashComponentName": false
      }
    ],
    [
      "module-resolver",
      {
        "root": ["."],
        "alias": {
          "assets": "./src/assets",
          "middlewares": "./src/middlewares",
          "routes": "./src/routes",
          "models": "./src/models",
          "config": "./src/config",
          "controllers": "./src/controllers",
          "services" : "./src/services"
        }
      }
    ],
    ["@babel/plugin-transform-runtime"]
  ]
}
