<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Chào mừng bạn đã đến với EDUFORD : </h2>
    <p>Nhập mã OTP sau để kích hoạt tài khoản</p>
    <p style="border: 1px solid gray;padding: 20px;font-size: 25px;">
        {{OTP}}
    </p>
</body>
</html>